<div class="container mt-5">
<table class="table table-light">
  <tr><th>名前</th><th>Lv.</th></tr>
   <% @users.each do |user| %>
  <tr><td> <%= link_to user.name, "/users/#{user.id}" %></td>
  <td><%= user.level %></td></tr>
  <% end %>
  </table>
</div>

<%= paginate @users %>