<div class="container login-index">
<div class="index-content">
<% @user ||= current_user %>
<h5 class="mt-2 mb-5">継続は力なり<i class="fa fa-flag "></i></h5>

<div class="habit-list mb-3">
<p><%= @user.name %>の習慣</p>

<% if @user.habits.empty? %>
<div class="not-habit">なし</div>
<% else %>
<div class="habit-list-item">
<% @user.habits.each do |habit| %>
<div class="p-1"><%= link_to habit.task, record_habit_path(habit.id) %></div>
<% end %>
</div>
<% end %>
</div>

<div class="button">
<%= link_to "記録する", mission_habit_path(@user) %>
</div>
</div>
</div>