<div class="container-lg not-login-home">
<div class="main-box">
<div class="about">
<div class="quotation">
 <h2>習慣が変われば人格が変わる。<br/>人格が変われば運命が変わる。</h2>
 <p class="text-right mr-2">~ウィリアム・ジェームス~</p>
 </div>
</div>
 <section class="user-link">
     <%= link_to "ユーザー登録", new_user_registration_path, class: "btn mx-1" %>
     <%= link_to "ログイン", user_session_path,class: "btn mx-1"%>
 </section>
 <section class="try">
  <%= link_to "ゲストログイン", guest_sign_in_path,method: :post, class: "btn"%>
 </section>
</div>

</div>