<div class="container not_login-index">
 <h3>Habit is powerとは</h3>
 <p class="about">勉強、ランニング、筋トレなど様々な習慣を継続させたい人が仲間と共有し<br>習慣を強制化させるサービスです </p>
 <div class="concept">
    <div class="box1">
        <h5 class="pb-3">特徴</h5>
        <p><i class="fa fa-check-square "></i> 実行した習慣をグラフ化してビジュアル化</p>
        <p><i class="fa fa-check-square "></i> 有言実行した分だけlevelが上がり称号を得る</p>
        <p><i class="fa fa-check-square "></i> 一緒に頑張れる仲間を作れる</p>
        <p><i class="fa fa-check-square "></i> 実行しなかった時仲間に通知される屈辱</p>
    </div>
 </div>
     <%= link_to "ユーザー登録", new_user_registration_path, class: "btn btn-primary mt-5" %>
</div>