<div class="container index-content">
<div class="index-box">
<h5 class="mb-5">習慣は人生を変える</h5>

<div class="habit-list mb-3">
<p>銀の習慣一覧</p>

<div class="habit-list-item"><%= link_to "プログラミング", "#" %></div>
<div class="habit-list-item"><%= link_to "ランニング", "#" %></div>


<div class="pt-3"><%= link_to "フレンド数 0", "#" %></div>

</div>
<div class="button">
<%= link_to "記録する", "#" %>
</div>
</div>
</div>
