<div class="container">
    <% @posts.each do |post| %>
     <div class="post-content">
     <div class="post-item">
     <%= attachment_image_tag post.user, :image, fallback: "no-image.jpeg",class: "icon"%>
     <%= link_to post.user.name, post.user, class: "pl-3" %>
     <%= post.content %>
      <div class="ago-time">コメントを送る <%= post.how_long_ago %></div>
     </div>
     </div>
    <% end %>
</div>