/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import 'font-awesome';
 @import '_colors.scss';
 
 @mixin icon {
   border: solid 1px black;
   border-radius: 58px;
   object-fit: cover;
 }
 
 @mixin btn {
   margin: 16px;
   box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
   color: white;
   &:hover {
     color: white;
     opacity: 0.8;
   }
 }
 
html,body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(248,248,248);
 }
 
  // ヘッダー
header {
  padding: 4px 0px;
  background: black;
  opacity: 0.8;
  height: 100%;
.header-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
.title {
  font-size: 20px;
  padding-left: 12px;
}
.bell {
  color: #FFFF00;
}
}
a {
  color: #EEE;
  &:hover {
    color: $accent-color;
  }
 }
 }
 
footer {
  background: black;
  opacity: 0.8;
  height: 39px;
  text-align: center;
  color: white;
  margin-top: auto;
 }

 // リスト
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
li {
  font-size: 15px;
  padding: 5px;
  display: inline-block;
  border-right: solid 1px white;
  padding: 0px 6px;
 }
.dropdown-menu {
  background: black;
  opacity: 0.9px;
  text-align: left;
  li {
    border: none;
  }
}
}

.flash {
  margin: 0px;
  padding: 10px;
  text-align: center;
  line-height: 3px;
  font-size: 14px;
}
 
.flash-warning {
  background: $flash-warning-error;
  color: white;
}
 
.flash-success {
  background: darken($flash-sccess, 10%);
  color: white;
}
 
.flash-error {
  background: $flash-warning-error;
  color: white;
}
 
.error_messages {
  color: red;
  padding-top: 6px;
}

.btn {
  @include btn;
  background: $accent-color;
}
  
.btn-dark {
  @include btn;
  background:  $font-color;
}
   
.delete-btn {
  background: $destroy-btn-color;
  color: white;
  cursor: pointer;
  padding: 6px;
  border: 1px solid transparent;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  border-radius: 6px;
  &:hover {
    color: white;
    opacity: 0.9;
    text-decoration: none;
  }
}

.icon {
  width: 80px;
  height: 80px;
  @include icon;
}

.normal-icon {
  @include icon;
  width: 60px;
  height: 60px;
}

 .mini-icon {
   width: 46px;
   height: 46px;
   display: inline-block;
   @include icon;
 }

a {
  @include box-a-color;
}
 
.ago-time {
  font-size: 13px;
  text-align: right;
  padding: 0px 6px;
 }
 
.pagination {
  padding: 8px;
.active {
.page-link {
  background: black;
  opacity: 0.8;
  border: none;
  &:hover {
    opacity: 0.6;
    color: white;
  }
}
}
.page-link {
  color: $font-color;
}
}
 
