.form-box {
text-align: center;
padding: 68px 13px;
.form-content {
 padding: 28px;
 background: white;
 opacity: 0.8;
 color: #444;
 h4 {
 text-align: left;
 padding-top: 11px;
 color: #FF1A6F;
 }
 .input-box {
  padding: 22px;
  .input {
   width: 66%;
   height: 43px;
  }
 }
}
}