$font-color: #444;

// ログイン中ホーム
.login-index {
  background-image: image-url('habit.jpeg');
  background-size: cover;
  
.index-content {
display: inline-block;
background-color: white;
margin: 40px;
padding: 10px 90px 10px 10px;
opacity: 0.7;
border-radius: 10px;
h5 {
color: #222;
border-bottom: double;
}

.habit-list {
.user-name {
 font-size: 18px;
 color: #555;
 .mini-icon {
 width: 36px;
 height: 36px;
 border: solid 1px black;
 border-radius: 58px;
 object-fit: cover;
 display: inline-block;
  }
 strong {
   display: block;
   padding: 11px 2px;
 }
}
.habit-list-item {
color: #2d8fdd;
border-left: solid 3px #2d8fdd;
background: #f1f8ff;
margin-bottom: 3px;
line-height: 1.5;
padding: 0.5em;
}
.not-habit {
font-size: 17px;
}
}
}
}

.habit-show {
margin: 7px 0px;
cursor: pointer;
&:hover {
 text-decoration: underline;
}
}

.habit-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  
  .modal-box {
  position: absolute;
  top: 16%;
  left: 0;
  right: 0;
  bottom: 35%;
  margin: auto;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 360px;
  height: 230px;
  padding-left: 31px;
  border: double #2d8fdd;
  
  .modal-task {
    font-size: 18px;
  }
  .modal-item {
    text-decoration: underline;
    }
  
  .fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}
}
}

// ログインする前のフォーム
.not-login-index {
text-align: center;
color: $font-color;
// background-image: image-url('star.jpeg');
// background-size: cover;
.not-login-box1 {
 padding: 16px 21px;
 .not-login-content1 {
   opacity: 0.8;
   margin: 26px;
   padding: 8px;
   background: white;
   box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .5);
   h3 {
     color: #FF1A6F;
   }
    p {
   margin: 3px;
 }
 }
}

 .not-login-box2 {
  padding: 20px;
  opacity: 0.8;
  .not-login-content2 {
  margin: 26px;
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  .not-login-list-box {
    background: white;
   margin: 10px;
   padding: 10px;
   display: inline-block;
   width: 25%;
   box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
   border-radius: 13px;
   h5 {
     color: #FF1A6F;
     padding: 13px;
   }
  }
  }
 }
 .user-link {
  padding-bottom: 36px;
 }
 
}