 @import '_colors.scss';
 
 @mixin content-box {
  background: white;
  opacity: 0.8;
  margin: 26px;
  padding: 8px;
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .5);
 }
 
// ログイン中ホーム
.login-index {
  background-image: image-url('habit.jpeg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: flex-strt;
.index-content {
  min-height: 100vh;
  width: 40%;
  background: black;
  opacity: 0.8;
  color: white;
  opacity: 0.8;
  padding-left: 16px;
  a {
   color: white;
   &:hover {
     color: $accent-color;
     opacity: 0.8;
     text-decoration: none;
  }
  }
.user-content {
  display: flex;
  padding: 86px 6px;
  font-size: 24px;
.user-box {
  margin-left: 16px;
}
}
.habit-list-item {
  border-left: solid 3px $accent-color;
  margin-bottom: 3px;
  line-height: 1.5;
  padding: 16px 8px;
.habit-show {
  margin: 7px 0px;
cursor: pointer;
  &:hover {
  color: $accent-color;
  text-decoration: underline;
}
} 
}
.not-habit {
  font-size: 17px;
  padding: 15px 0px;
}
}
}

.habit-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
.modal-box {
  position: absolute;
  top: 16%;
  left: 0;
  right: 0;
  bottom: 35%;
  margin: auto;
  background-color: white;
  opacity: 0.8;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 360px;
  height: 230px;
  padding-left: 31px;
  border: double $accent-color;
  color: $font-color;
.modal-task {
  font-size: 18px;
}
.modal-item {
  text-decoration: underline;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}
}
}


// ログインする前のフォーム
.not-login-home {
  background-image: image-url('home.jpeg');
  background-size: cover;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: flex-end;
.main-box {
  min-height: 100vh;
  width: 40%;
  background: black;
  opacity: 0.7;
  text-align: center;
.about {
  h3 {
    padding: 160px 0px 80px;
    font-family: "ＭＳ 明朝",serif;
    font-size: 58px;
    line-height: 86px;
}
}
}
}

.about-box {
  min-height: 100vh;
  background: white;
  padding: 30px;
  text-align: center;
  p {
    color: $font-color;
    cursor: pointer;
    &:hover {
     color: $accent-color;
    }
  }
.video {
  display: none;
.video-content {
  width: 80%;
  padding: 22px;
}
}
}