.notification-box {
 border: solid 2px #DDD;
 background: white;
 .notification-item {
  border-bottom: solid 1px #EEE;
  padding: 8px;
 }
  .lose {
   color: #BB0000;
   padding-left: 7px;
   display: inline-block;
   span {
    font-size: 19px;
   }
  }
 }
 
