 @import '_colors.scss';

.notification-box {
  border: solid 2px #DDD;
  background: white;
  padding-bottom: 12px;
.notification-item {
  border: solid 1px #EEE;
  padding: 4px;
  font-size: 14px;
  a {
   color: red;
  }
 }
.lose {
  color: $font-color;
  padding-left: 7px;
  display: inline-block;
}
.all-delete {
  text-align: right;
  padding: 6px 0px 12px;
}
}
