// index
.post-users {
 padding-top: 18px;
 .post-items-box {
  border-bottom: solid 1px;
 .post-items {
  padding: 13px;
  display: flex;
  align-items: center;
  .post-user {
   width: 300px;
   display: flex;
  }
  .post-content {
  padding-left: 58px;
  }
 }
}
}

// private

.private-box {
 background: black;
 opacity: 0.8;
 color: white;
 padding: 16px;
 .private-item {
  border-bottom: solid 1px;
 }
}

