 @import '_colors.scss';

// index
// .release-box {
//  // background: white;
//   background-image: image-url('sky.jpeg');
//   background-size: cover;
//   min-height: 100vh;
//   color: white;
//   a {
//    color: white;
//   }

.post-users {
 padding-top: 18px;
 background: white;
 .post-items-box {
  border-bottom: solid 1px;
 .post-items {
  padding: 2px;
  display: flex;
  align-items: center;
  .post-user {
   width: 240px;
   display: flex;
  }
  .post-content-box {
   width: 80%;
  .post-content {
   display: inline-block;
   box-shadow: 0px 0px 2px;
   margin: 6px;
   padding: 12px;
   border-radius: 40px;
  }
  }
 }
}
}
// }

// private

.private-box {
 // background: black;
 color: $font-color;
 min-height: 100vh;
  a {
   color: $font-color;
  }
  .private-content {
  color: black;
  }
}

.no-item {
 padding-top: 18px;
 text-align: center;
}
