// index
.post-users {
 padding-top: 18px;
 .post-items-box {
  border-bottom: solid 1px;
 .post-items {
  padding: 2px;
  display: flex;
  align-items: center;
  .post-user {
   width: 240px;
   display: flex;
  }
  .post-content {
   background: white;
   padding: 8px;
   border-radius: 26px;
  }
 }
}
}

// private

.private-box {
 background: black;
 opacity: 0.8;
 color: white;
 padding: 2px;
 .private-item {
  border-bottom: solid 1px;
 }
}

.no-item {
 padding-top: 18px;
 text-align: center;
}
