h4 {
border-bottom: double;
}

.form-box {
line-height: 33px;
text-align: center;
box-shadow: 0px 0px 2px gray;
.form-item {
padding: 10px;
}
.label {
display: block;
margin: 0px;
}
.form {
width: 66%;
}
}

// show

.show-content {
 display: flex;
 padding: 13px;
}

.user-image {
 width: 96px;
 height: 96px;
 border: solid 1px black;
 border-radius: 58px;
 object-fit: cover;
}

// show_follow

.users {
 display: block;
}