 @import '_colors.scss';

.show-page {
 background: white;
 padding: 0px 13px;
.show-content {
 display: flex;
 padding: 13px;
.user-relation {
  font-size: 14px;
 }
}

table {
 margin: 36px 0px 10px;
}
}

.plofile {
 margin: 20px;
 padding: 10px;
 border: solid 1px black;
}

// show_follow

.users {
 display: block;
}

 