 @import '_colors.scss';

// show

.show-page {
 padding: 0px 13px;
 min-height: 90vh;
 .show-content-box {
  background: white;
  padding-bottom: 6px;
  
.show-content {
 display: flex;
 padding: 13px;
.user-relation {
  font-size: 14px;
 }
}

.plofile-box {
 background: white;
 text-align: left;
 margin: 12px 12px;
 padding: 12px 24px;
 border-radius: 11px;
 box-shadow: 0px 0px 2px;
 width: 60%
}
}

.title-box {
  margin-top: 12px;
  background: black;
  opacity: 0.8;
 h5 {
  color: white;
  padding: 6px 0px 6px 12px;
  margin: 0px;
 }
}

table {
margin: 0px;
background: white;
}

.chart {
background: white;
padding: 12px;
margin: 12px 0px;
}
}

// index

.ranking {
 background: white;
 padding: 36px;
 border: solid 2px #DDD;
.best1 {
color: rgb(219,180,0);
}
.best2 {
 color: rgb(174,179,181);
}

.best3 {
 color: rgb(186,110,64);
}

}

 